<%- include('partials/header'); -%>

<div class="container">

    


   <div class="mainBoxDiv">
      <div class="studentReservationTitle">
        <h1>List of my students </h1>
      </div>
  
 
   
      <% for (let i = 0; i < myStudentsArray.length; i++) { %>
      <% const lesson = myStudentsArray[i]; %>
      <% if (lesson.isConfirmed || lesson.isCompleted) { %>
        <div class="boxDivConfirmEnd" id="<%= lesson._id %>">
          <div class="boxDivleftSideMyBookingLessons"> 

            <div class="nameAndImage">
              <div class="boxName">   <p><b><%= lesson.studentFirstName %> <%= lesson.studentLastName %></b></p></div>
              <div class="boxImg"><img  class="imageProfile"src="<%= lesson.studentProfile %>" alt=""> </div> 
            </div>

            <div class="TeacherLessonsCounter">
          <% let countCompleted = 0; %>
          <% for (let i of myStudentsArray) { %>
            <% if (myStudentsArray.some(obj => obj.idStudent === i.idStudent) && lesson.isCompleted) { %>
              <% countCompleted++; %>
            <% } %>
          <% } %>
     
        
        
        <% let countConfirmed = 0; %>
        <% for (let i of myStudentsArray) { %>
          <% if (myStudentsArray.some(obj => obj.idStudent === i.idStudent)  && lesson.isConfirmed ) { %>
            <% countConfirmed++; %>
          <% } %>
        <% } %>
       
      </div>
         </div>
        </div>
      <% } %>
    <% } %>
    

  <% if ( myStudentsArray.length == 0) { %>    <div class="noRequest">   <h2> you have no students </h2> </div>  <% } %>

   </div>




      
</div>